{% load i18n %}

{% block title %}Password reset{% endblock %}

{% block body_id %}password-reset{% endblock %}

{% block main %}
<div id='login' class='module'>
    <div class='module-head'>
        <h3>Password reset</h3>
    </div>
    <div class='module-body'>
      <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
      
      <form action="" method="post">{% csrf_token %}
          {{ form.email.errors }}
          <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} </p>
          <p> <input type="submit" value="{% trans 'Reset password' %}" /> </p>
      </form>
    </div>
    <div class="module-foot">
    </div>
</div>
{% endblock main %}
