{% extends 'core/includes/cover_base.html' %}

{% load staticfiles i18n %}

{% block body %}
<div class="main" style="width: 40%; ">
    <div class="card">
      <div class="card_up dark_cover_bg"></div>
      <div class="avatar">
        <img src=" {% static 'images/mentors.jpg' %} " alt="Sample avatar image.">
      </div>
      <div class="card-block">
        <h1 class="card_title">Mentor001 Signup</h1>
        <hr/>

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}

          <form action="{% url 'signup' %}" method="post" role="form">
          {% csrf_token %}
            <div class="md-input {% if form.username.errors %} has-error{% endif %}">
                <input class="md-form-control" required="true" type="username" name="username" id="username">
                {% for error in form.username.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{% trans 'Username' %}</label>
            </div>

            <div class="md-input {% if form.email.errors %} has-error{% endif %}">
                <input class="md-form-control" required="true" type="email" name="email" id="username">
                {% for error in form.email.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{% trans 'Email' %}</label>
            </div>

            <div class="md-input {% if form.role.errors %} has-error{% endif %}">
                {{ form.role }}
                {% for error in form.role.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{% trans 'Role' %}</label>
            </div>

            <div class="md-input {% if form.password.errors %} has-error{% endif %}">
                <input class="md-form-control" required="true" type="password" name="password" id="password">
                {% for error in form.password.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{% trans 'Password' %}</label>
            </div>

            <div class="md-input {% if form.confirm_password.errors %} has-error{% endif %}">
                <input class="md-form-control required" required="true" type="password" name="confirm_password" id="confirm_password">
                {% for error in form.confirm_password.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{% trans 'Confirm Password' %}</label>
            </div>
      <div class="signin_div">
        <button class="btn btn-primary" type="submit">SIGN IN</button>
      </div>

      </form>

      </div>
    </div>
</div>
{% endblock body %}

