
<div class="talk-bubble " style="margin-left: 2px; background-color: #f3f3f3;">
  <img src="{{ message.from_user.profile.get_picture }}" class="picture">
  <div class="talktext" style="margin-left: 10px; padding-bottom: 5px; padding-top: 0px">
    <h5>
      <small class="pull-right">
        {{ message.date|date:'N d G:i' }}
      </small>
      <a href="{% url 'profile' message.from_user.username %}">
        {{ message.from_user.profile.get_screen_name }}
      </a>
    </h5>
    {{ message.message | linebreaks }}
  </div>
</div>