{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Questions{% endblock %}

{% block head %}
  <link href="{% static 'css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'js/questions.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'ask' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-bullhorn"></span> {% trans "Ask Question" %}
    </a>
    <h1>{% trans "Questions" %}</h1>
  </div>
  <div class="col-md-8 questions">
    <ul class="nav nav-tabs" style="margin-bottom: 1.4em">
      <li{% if active == 'unanswered' %} class="active"{% endif %}><a href="{% url 'unanswered' %}">{% trans "Unanswered" %}</a></li>
      <li{% if active == 'answered' %} class="active"{% endif %}><a href="{% url 'answered' %}">{% trans "Answered" %}</a></li>
      <li{% if active == 'all' %} class="active"{% endif %}><a href="{% url 'all' %}">{% trans "All Questions" %}</a></li>
    </ul>
    {% for question in questions %}
      {% include 'questions/partial_question.html' with question=question %}
    {% empty %}
      <h4 class="no-data">{% trans "No question to display" %}</h4>
    {% endfor %}
    {% include 'paginator.html' with paginator=questions %}
  </div>

  <div class="col-md-4" style="margin-top: 50px">
  <div class="talk-bubble ">
    <div class="talktext">
      <h4><b>Guidelines on asking a question on this forum:</b></h4>
      <p>
      When submitting questions to us, please abide by the following guidelines. If any of the below items are not followed, we reserve the right to not answer the question(s) that are submitted to us:
      </p><p>
      (1) Do not use foul, insulting, or crude language.
      </p><p>
      (2) Be respectful in the content and tone of your question.
      </p><p>
      (3) Do not be overly argumentative or hostile. We are not "gotdebate.org".
      </p><p>
      (4) Do not submit questions that are part of a homework assignment/quiz/test or would in any way be considered "cheating."
      </p>
    </div>
  </div>
  </div>
{% endblock main %}


