<div class="col-md-4 col-sm-4 panel">
<section>
    <aside>
        <h4><b>Guidelines on asking a question on this forum:</b></h4>
        <p>
        When submitting questions to us, please abide by the following guidelines. If any of the below items are not followed, we reserve the right to not answer the question(s) that are submitted to us:
        </p><p>
        (1) Do not use foul, insulting, or crude language.
        </p><p>
        (2) Be respectful in the content and tone of your question.
        </p><p>
        (3) Do not be overly argumentative or hostile. We are not "gotdebate.org".
        </p><p>
        (4) Do not submit questions that are part of a homework assignment/quiz/test or would in any way be considered "cheating."
        </p>
    </aside>
</section>
</div>