[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-restframework = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-multiselectfield = "*"
djangorestframework = "*"
six = "*"
django-imagekit = "*"
django-taggit = "*"
django-autoslug = "*"
python-memcached = "*"
django-redis = "*"
django-debug-toolbar = "*"
pylint-django = "*"

[requires]
python_version = "3.6"
