{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Interests{% endblock %}

{% block head %}
  <link href="{% static 'css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'js/questions.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'add_interest' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-bullhorn"></span> {% trans "Add Interest" %}
    </a>
    <h1>{% trans "Interests" %}</h1>
  </div>
  <div class="questions">
    <!-- <ul class="nav nav-tabs" style="margin-bottom: 1.4em">
      <li{% if active == 'interests' %} class="active"{% endif %}><a href="{% url 'interests' %}">{% trans "All Interests" %}</a></li>
    </ul> -->
    {% for interest in interests %}
      <li>
        {{interest}}
      </li>
    {% empty %}
      <h4 class="no-data">{% trans "No interest to display" %}</h4>
    {% endfor %}
    {% include 'paginator.html' with paginator=interests %}
  </div>
{% endblock main %}