{% load humanize %}

<div class="panel panel-default question" question-id="{{ milestone.id }}">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if milestone.has_completed_milestone %}
        <span class="glyphicon glyphicon-ok"></span>
      {% endif %}
      <a href="{% url 'milestones' milestone.pk %}">{{ milestone.title }}</a>
    </h3>
  </div>
  <div class="panel-body clearfix">
    <div class="question-info">
      <div class="info">
        <h5><span class="glyphicon glyphicon-comment"></span> Comments</h5>
        <span>{{ milestone.get_milestones_count }}</span>
      </div>
      <div class="info">
        <h5><span class="glyphicon glyphicon-star"></span> Favorites</h5>
        <span></span>
      </div>
    </div>
    <div class="question-user">
      <a href="{% url 'profile' milestone.user.username %}"><img src="{{ milestone.user.profile.get_gravatar }}" class="user"></a>
      <a href="{% url 'profile' milestone.user.username %}" class="username">{{ milestone.user.profile.get_screen_name }}</a>
      <span class="asked">asked {{ milestone.update_date|naturaltime }}</span>
    </div>
    <div class="question-description">
      {{ milestone.get_description_preview_as_markdown|safe }}
    </div>
  </div>
</div>