{% extends 'bas.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/jquery.typeahead.bundle.js' %}"></script>
{% endblock head %}

{% block main %}
<div class="container">
  <div class="row">
  <div class="heading">
    <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}</h1>
  </div>
      <div class="col-md-4 col-sm-4">
        <img class="img-responsive picture" src="{{ page_user.profile.profile_picture.url }}" style=""><br></a><br><br>
      </div>

      <div class="col-md-8 col-sm-8">

        <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="content" style="padding: 15px;">

                  {% if messages %}
                  <div class="conversation">
                    <div class="talk-bubble" style="height: 300px; overflow-y:scroll; background-color: #f3f3f3">
                      <div class="talktext" style="width: 100%">
                        {% for message in messages %}
                          <li>
                            <div class="talk-bubble tri-right round left-top" style="margin-left: 2px; ">
                              <div class="talktext" style="margin-left: 10px; padding-bottom: 0px;">
                                <h5>
                                  <small class="pull-right">
                                    {{ message.date|date:'N d G:i' }}
                                  </small>
                                  <a href="{% url 'profile' message.from_user.username %}">
                                    {{ page_user.from_user.profile.get_screen_name }}
                                  </a>
                                </h5>
                                {{ message.message | linebreaks }}</div>
                            </div>
                            </li>
                        {% endfor %}
                      </div>
                    </div> 
                  </div>
                  {% else %}
                    <h4>Your inbox is empty!</h4>
                  {% endif %}

                  <form class="form-horizontal" role="form" method="post" action="{% url 'request_mentorship' %}">
                    {% csrf_token %}
                    <input class="form-control typeahead" type="hidden" id="to" name="to" value="{{ page_user.username }}" style="border-style: groove;">
                    <div class="form-group">
                      <label for="to" class="col-sm-2 control-label">Message</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="message" name="message" placeholder="" rows="5" style="border-style: groove;"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="to" class="col-sm-2 control-label"></label>
                      <div class="col-sm-10 col-sm-offset-1">
                        <button type="submit" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </form>
                  <script src="{% static 'js/messages.typehead.js' %}"></script>
                </div>
              </div>
            </div>
          </div>
          
          {% include 'core/includes/partial_profile.html' %}

          <a class="btn btn-primary" style="margin-top: 2em" data-toggle="modal" data-target="#myModal" >Message this person</a><br><br>

      </div>
    </div>
  </div>
{% endblock main %}