{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Mentors' %}{% endblock %}

{% block head %}
<link href="{% static 'css/mentors.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Mentors</h1>
</div>

<div class="row">
    {% for user in users %}
    <div class="col-md-2 col-sm-3 col-xs-6">
        <a href="{% url 'profile' user.username %}" data-toggle="tooltip" data-placement="auto"
           title="{{ user.profile.get_screen_name }}" style="background-color: green">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive picture" src="{{ user.profile.profile_picture.url }}" style="">
                    {% if user.profile.is_mentee %}
                    <a href="{%  url 'request-mentorship' user.id %}">
                        <button type="button" class="btn btn-default glyphicon glyphicon-plus">Request Mentorship
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'paginator.html' with paginator=users %}
    </div>
</div>

{% endblock main %}
