{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}</h1>
  </div>
  <div class="profile">
    <div class="row">
      <div class="col-md-3 user-profile">
        <img class="img-responsive picture" src="{{ page_user.profile.get_gravatar }}" style=""><br></a><br><br>
      </div>

      <div class="col-md-9 user-profile">

        <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Messages</h4>
                </div>
                <div class="modal-body">
                  My name is Aisha Simons and I am a licensed therapist (license number LPC 004784). Welcome to the online counseling room, which will be our private and secure place to communicate. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

          {% include 'core/includes/partial_profile.html' %}

            <!-- <div class="send-message">
              <img src="{{ user.profile.get_picture }}" class="picture">
              <div style="margin-top: .3em">
                <form role="form" method="post" action="{% url 'send_message' %}" id="send">
                  {% csrf_token %}
                  <input type="hidden" name="to" value="{{ page_user.profile.get_screen_name }}">
                  <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
                </form>
              </div>
            </div> -->
          <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Message this person</a><br><br>
        </div>
      </div>
        </form>
      </div>
    </div>
  </div>
{% endblock main %}