{% extends 'core/includes/cover_base.html' %}

{% load staticfiles i18n %}

{% block body %}
<div class="main center" style="width: 60%">
    <div class="card">
      <div class="card_up dark_cover_bg"></div>
      <div class="avatar">
        <img src=" {% static 'images/mentors.jpg' %} " alt="Sample avatar image.">
      </div>
      <div class="card-block">
        <h2>{% trans 'Initial Account Setup' %}</h2>
        <hr/>
          <form role="form" class="form-horizontal" method="post" action="{% url 'initial_setup' %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group{% if field.errors %} has-error{% endif %} ">
                <label for="{{ field.label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                <div class="col-md-9">
                  {{ field }}
                  {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                  {% endif %}
                  {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Next' %}</button>
            </div>
          </form>
      </div>
    </div>
</div>
{% endblock body %}

