<div class="talk-bubble col-md-12">
  <div class="talktext">
    <ul>
      <li>
        <b>Date joined</b><br>
        {{ page_user.date_joined }}<br><br>
      </li>

      <li>
        <b>Phone Number</b><br>
        {{ page_user.profile.phone_number }}<br><br>
      </li>

      <li>
        <b>Email</b><br>
        {{ page_user.email }}<br><br>
      </li>

      <li>
        <b>Gender</b><br>
        {{ page_user.profile.gender }}<br><br>
      </li>

      <li>
      <b>Location</b><br>
      {{ page_user.profile.location }}<br><br>
      </li>

      <li>
      <b>Biography</b><br>
      {{ page_user.profile.bio|linebreaks}}
      </li>

      <li>
      <b>Interests</b><br>
      {% if user.profile.get_interests %}
        {% for interest in page_user.profile.get_interests %}
          <span class="label label-primary">{{ interest }}</span>
        {% endfor %}
      {% endif %}
      </li>
     </ul> 
  </div>
</div>