{% load staticfiles %}
{% load i18n %}
<div class="talk-bubble col-md-12" style="height: 360px; overflow-y:scroll; background-color: #e6e6e6">
  <div class="talktext">
    <ul>
      <b>Date joined</b>: {{ page_user.date_joined }}<br>
      <b>Gender</b>: {{ page_user.profile.gender }}<br>
      <b>Location</b>: {{ page_user.profile.location }}<br>
      <b>Highest level of Education</b>: {{ page_user.profile.highest_level_of_study }}<br>
      <b>Biography</b>: {{ page_user.profile.bio|linebreaks}}<br>
      <b>Areas I would like mentorship in</b>
        {% for item in page_user.profile.mentorship_areas %}
        <li style="list-style-type: ;">
          {{ item }}
          
        {% endfor %} <br>
        
     </ul> 
  </div>
</div>