{% load staticfiles i18n %}
{% load cache %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    {% cache 500 assets %}

    <link href="{% static 'assets/fonts/elegant-fonts.css' %}" rel="stylesheet" type="text/css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'assets/revolution/css/settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/revolution/css/layers.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/revolution/css/navigation.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    
    <link href="{% static 'css/mentor.css' %}?v=1" rel="stylesheet" type="text/css">
    <link href="{% static 'css/chatbubble.css' %}?v=1" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    {% endcache %}
    
    <title>{% block title %}Mentor 001{% endblock %}</title>

    {% block head %}{% endblock %}

</head>

<body class="platform-body">
{% block body %}
<div class="overlay"></div>

<div class="outer-wrapper">
<div class="page-wrapper">
    {% block nav-header %}
    <header class="navigation" id="top" style="background-color: #ffbe00; padding-top: 2px;">
        <div class="container">
            <!--/.secondary-nav-->
            <div class="main-nav" style="padding-top: 2px; padding-bottom: 5px">
                <div class=""><a href="{% url 'questions' %}"><img src="{% static '/img/mentor1.png' %}" alt="" height="50" width="100" ></a></div><!--/.brand-->
                <nav class="center">
                    <ul>
                        {% if user.is_authenticated %}

                        <li>
                            <a id="nav_help" class="nav" href="{% url 'mentoring' %}">
                            Mentoring
                            <!-- <div class="nav_icon glyphicon glyphicon-folder-open" style=""></div> -->
                            </a>               
                        </li>

                        <li>
                            <a class="nav" href="{% url 'articles' %}"> 
                            Articles
                            <!-- <div class="nav_icon glyphicon glyphicon-folder-open"></div> -->
                            </a>
                        </li>

                        <li>
                            <a id="questions" class="nav" href="{% url 'questions' %}">
                            Questions
                            <!-- <div class="nav_icon glyphicon glyphicon-globe"></div>  -->
                            </a>
                        </li>
                        <!-- <li>
                            <a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span><span class="glyphicon glyphicon-comment platform-glyphicon" style="margin-right: 0em"></span></a>
                        </li> -->
                        <li>
                            <a id="nav_help" class="nav" href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                            Alerts
                            <!-- <div class="nav_icon glyphicon glyphicon-bell"></div> -->
                            </a> 
                        </li>
                        <!-- <li>
                            <div class="glyphicon glyphicon-bell"></div>
                            <a class="nav" href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                            <small>Not</small></a>
                        </li> -->

                        <li id="nav_help_li" class="nav_item" role="menuitem" aria-labelledby="nav_help">
                            <a id="messages" class="nav" href="{% url 'inbox' %}">
                            Inbox
                            <!-- <div class="nav_icon badge "><span id="unread-count">0</span></div> -->
                            </a>
                        </li>

                        <!-- <li>
                            <a href="{% url 'profile' username=user.username %}"><span class="glyphicon glyphicon glyphicon-user platform-glyphicon"></span></a>
                        </li> -->

                        <li class="dropdown">
                          <a href="#" class="nav dropdown-toggle" data-toggle="dropdown">
                          {{ user.username}}
                          <!-- <span class="nav_icon glyphicon glyphicon-cog"></span> -->
                          </a> 
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li>
                            <li><a href="{% url 'profile' username=user.username  %}">{% trans 'Profile' %} </a></li>
                            <li><a href="{% url 'settings' %}">{% trans 'Account Settings' %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                          </ul>
                        </li>
                        
                        {%endif%}
                        
                    </ul>
                    <div class="nav-toggle"><i class="icon_menu"></i></div>
                </nav>
            </div>
            <!--/.main-nav-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    {% endblock nav-header %}
    {% block main %}
    {% endblock main %}


    <!-- <footer class="footer">
        <div class="container">
            <span>(C) 2017 mentor001. All Right Reserved</span>
        </div> 
    </footer> -->
    </div>
    </div>

    <script src="{% static 'js/mentor001.js' %}"></script> 
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/check_messages.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/js/zabuto_calendar.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

    <!-- <script type="text/javascript" src="{% static 'assets/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
    

{% endblock body %}
</body>
