{% extends 'bas.html' %}
{% load staticfiles %}
{% load i18n %}

{% block main %}
	<div class="container">
      <div class="heading">
        <h1>Donate</h1>
      </div>
      <div>
      	<p>Your donation will help us bring hope to someone, today, as it helps us recruit, train, and support mentors from our community and begin the process of empowering youth!</p>

		<p>Are you looking for a way to truly make a difference in this world – now and into the future? We fully believe in the power of mentoring to impact our culture in a way like no other. Kids receive help to build strong values, learn life-skills, and begin to dream of what things can become – changing today’s generation and those of tomorrow. Now, that is significant!</p>

		<h3>Donations help now and long term</h3>
		<p>Your donation helps change our troubled culture now and for years and generations to come. IYM is dependent on the generosity of individuals and community supporters, and we appreciate each gift knowing that it will help us meet our needs of today, while building a stronger organization for the future – which in turn helps more kids and families year after year.</p>
		
		<h3>Support that works</h3>
		<p>All moneys given to IYM go directly to our programs and positively affect the Tri-City Community. Focus is placed on the recruitment of new mentors to meet the need of enrolled kids, making quality mentor matches, and equipping our mentors to best support their mentee. IYM staff is constantly studying youth culture, implementing new ideas, creating exciting activities, and developing ways to inspire our mentors, and supporting mentees and their families.</p>
		
		<h3>Money Well Spent</h3>

		<p>IYM believes that they best way to use finances is on preventative measures that will save significantly more money in the near and distant future. Investing in mentoring does just that. Your kind donation will help kids keep on or get back on the right track so that their choices will benefit them and our community.</p>
      </div>
  </div>
{% endblock main %}
