{% load staticfiles i18n %}<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Mentoroo1</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}"/>
	<link rel="stylesheet" href="{% static 'landing/css/skeleton.css' %}"/>
	<link rel="stylesheet" href="{% static 'landing/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'landing/css/layout.css' %}"/>
	<link rel="stylesheet" href="{% static 'landing/css/font-awesome.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/settings.css' %}" />	
	<link rel="stylesheet" href="{% static 'landing/css/jquery.fancybox.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/flat_filled_styles.css' %}"><!--SVG Animation Styles-->
	<link rel="stylesheet" href="{% static 'landing/css/retina.css' %}"/>
	<link rel="stylesheet" href="{% static 'landing/js/template.js' %}"/>
	

		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'landing/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'landing/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'landing/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'landing/apple-touch-icon-114x114.png' %}">
	
	
	
</head>
<body class="royal_loader">	
	<!-- Primary Page Layout
	================================================== -->

	
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="sixteen columns">
					<div class="logo"></div>
					<ul class="slimmenu">
						<li> 
							<a  href="#home">home<span> <img src="{% static 'landing/images/home2.png' %}"/></span></i></a>
						</li>

						<li>
							<a class="scroll" href="#about">about <span> <img src="{% static 'landing/images/about.png' %}"/> </span></a>
						</li>
						<li>
							<a class="scroll" href="#join">join<span> <img src="{% static 'landing/images/join.png' %}"/></span></a>
						</li>
						<li> 
							<a class="scroll" href="#faq">faq <span> <img src="{% static 'landing/images/mark.png' %}"/></span></a>
						</li>
						<!--<li> 
							<a class="scroll" href="#blog">jurnal</a>
						</li>-->
						<li>
							<a class="scroll" href="#contact">contact <span> <img src="{% static 'landing/images/contact.png' %}"/></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>		

			<div id="home">	
				
				
				
				<div class="tp-banner-container">
					<div class="tp-banner" >				
						<ul>
							<!-- THE FIRST SLIDE -->
							
							<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
								<img src="{% static 'landing/images/gallery/sl1.jpg' %}" alt="" />
								<!--<div class="just_pattern"></div>-->
								
								<!-- THE CAPTIONS IN THIS SLIDE -->
													
							</li>	
							
							<!-- THE SECOND SLIDE -->
							
							<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
								<img src="{% static 'landing/images/education.jpg' %}" alt="" />
								<div class="just_pattern"></div>
								
								<div class="caption big-text lft ltt"  
									 data-x="center" 
									 data-y="center" 
									 data-speed="500" 
									 data-start="500" 
									 data-easing="easeOutExpo"><div class="big-text"><span></span></div></div>
											
							</li>
							
							<!-- THE THIRD SLIDE -->
							
							<li data-transition="fade" data-slotamount="1" data-masterspeed="400">						
								<img src="{% static 'landing/images/help.jpg' %}" alt="" />
								<div class="just_pattern"></div>
																		
								<!-- THE CAPTIONS IN THIS SLDIE -->
								<div class="caption big-text lft ltt"  
									 data-x="center" 
									 data-y="center" 
									 data-speed="500" 
									 data-start="500" 
									 data-easing="easeOutExpo"><div class="big-text"><span></span></div></div>
											
							</li>						
						</ul>
					</div>
				</div>								
				<a class="scroll" href="#about"><div class="scroll-btn tipped" data-title="about agency"  data-tipper-options='{"direction":"top","follow":"true"}'></div></a>
			</div>
			<div class="container">
			<div class="row">
				<div id="services">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
						
							<h1>A mentorship platform</h1>
							<p> Mentor 001 platform provides professionl mentorship to the youth</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-brush"></span>
							<h5>Mission</h5>
							<p>Cum sociis natoque penatibus et magnis dis massa.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-phone"></span>
							<h5>Vison</h5>
							<p>Cum sociis natoque penatibus et magnis dis massa.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-message"></span>
							<h5>Core Values</h5>
							<p>Cum sociis natoque penatibus et magnis dis massa.</p>
						</div>
					</div>
					<div class="clear"></div>
					
					
				</div>			
			</div>

			</div>
            </div>
			
			<div id="about">
				<div class="container">
					
							
							<h1>About Mentor001</h1>
							<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
						</div>
					
				</div>
			<!--	<div class="clear"></div> -->
			
					
			</div>

				
			
			
				
			
			
			<div id="join">	
			<div class="container">
				<h3>join message here</h3>

			 	
			<div class="jumbotron">
  <h4>Hello, Mentor/Mentee</h1>
  <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <center><p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Click to Join</a></p></center>
</div>	
			</div>		
			</div>				


			


<!-- FAQ -->
			
			
			<div id="faq">	
				<div class="container">
					<h1> Frequent asked questions</h1>
<div class="ul_faq">
  		<h2> Mentee</h2>
  		<ul>
    			<li> How Can I connect with a mentor?</li>
    			<li> Answer 1</li>
    			<li> How long does the mentorship take?</li>
    			<li> Answer 2</li>
    			<li> Does one require to pay?</li>
    			<li> Answer 3</li>
 	 </ul>
        <h2> Mentor</h2>
  			<ul>
    			<li> How Can I connect with a mentee?</li>
    			<li> Answer 1</li>
    			<li> How long does the mentorship take?</li>
    			<li> Answer 2</li>
    			<li> Can I mentor online?</li>
    			<li> Answer 3</li>
 			 </ul>
        <h2> General</h2>
            <ul>
                 <li> Does one need to educated to mentored?</li>
                 <li> Answer 1</li>
                 <li> What is the age bracket to a mentee</li>
                 <li> Answer 2</li>
                 <li> Can one meet with their mentor?</li>
                 <li> Answer 3</li>
              </ul>
                </div>		
			</div>

			

			
			
			
			
			
			
			
			
			<div id="contact">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							
							<h1>contact</h1>
							<p>We create best opportunities for your business.</p>
						</div>
					</div>
				</div>
				<div class="container">	
					<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
						<div class="four columns">
							<label for="name">Your Name: * 
								<span class="error" id="err-name">please enter name</span>
							</label>
							<input name="name" id="name" type="text" />
						</div>
						<div class="four columns">
							<label for="email">E-Mail: * 
								<span class="error" id="err-email">please enter e-mail</span>
								<span class="error" id="err-emailvld">e-mail is not a valid format</span>
							</label>
							<input name="email" id="email" type="text" />
						</div>
						<div class="five columns">
							<label for="message">Tell Us Everything:</label>
							<textarea name="message" id="message"></textarea>
						</div>
						<div class="three columns">
							<div id="button-con"><button class="send_message" id="send">Submit</button></div>
						</div>
						<div class="clear"></div>	
						<div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
						<div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
						<div class="error" id="err-state"></div>
					</form>	
					<div class="clear"></div>
					<div id="ajaxsuccess">Successfully sent!!</div>	
					<div class="clear"></div>
					<div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
						<div class="contact-wrap">
							<p><i class="icon-contact1">&#xf095;</i><span>call us:</span> +254710395262 <small><em>Monday–Friday </em></small></p>
						</div>
					</div>
					<div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">	
						<div class="contact-wrap">
							<p><i class="icon-contact1">&#xf041;</i><span>Visit Us:</span> at Swahilipot hub Mombasa Kenya</p>	
						</div>
					</div>	
					<div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">	
						<!--<a class="button-map close-map"><span>Locate Us on Map</span></a> -->
					</div>
				</div>
				<!--<div id="google_map"></div>	-->			
			</div>
			


			
			<div id="footer">
				<a class="scroll" href="#home"><div class="back-top">&#xf102;</div></a>	
				<div class="container">
					<div class="sixteen columns">
						<p>Made with<i class="icon-footer">&#xf004;</i>and<i class="icon-footer">&#xf0f4;</i>in Mombasa</p>
						<p><small>Design by Swahilipot Team</small></p>
					</div>
				</div>	
			</div>












	
   


	
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static 'landing/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/modernizr.custom.js' %}"></script>	 
<script type="text/javascript" src="{% static 'landing/js/royal_preloader.min.js' %}"></script>
<script type="text/javascript">
(function($) { "use strict";
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'Mentor001',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#fff']
            });
})(jQuery);
</script>
<script type="text/javascript" src="{% static 'landing/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/cbpAnimatedHeader.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript">
(function($) { "use strict";
				var revapi;

				jQuery(document).ready(function() {

					   revapi = jQuery('.tp-banner').revolution(
						{
							delay:5000,
							startwidth:2000,
							startheight:500,
							soloArrowRightVOffset:50,
							soloArrowLeftVOffset:50,
							hideThumbs:0,
							onHoverStop:"off",
							navigationType: "none",
							fullWidth:"off",
							fullScreen:"on",
							fullScreenOffsetContainer: ""
						});

				});	//ready
})(jQuery);

</script>
<script type="text/javascript" src="{% static 'landing/js/retina-1.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.easing.js' %}"></script> 
<script type="text/javascript" src="{% static 'landing/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/tiltSlider.js' %}"></script>
<script>
(function($) { "use strict";
	new TiltSlider( document.getElementById( 'slideshow' ) );
})(jQuery);
</script>
<script type="text/javascript" src="{% static 'landing/js/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.localscroll-1.2.7-min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.scrollTo-1.4.2-min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/svg_inject_flat_icons_filled.js' %}"></script><!--Inject SVG and Toggle CSS Styles-->
<script type="text/javascript" src="{% static 'landing/js/contact.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static 'landing/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/template.js' %}"></script>  	  
<!-- End Document
================================================== -->
</body>
</html>